<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiu6a0RnpnQxtQDUQUoYQp5gkQGFkK83s</string>
	<key>GCM_SENDER_ID</key>
	<string>139701247462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.andyg.loginAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>login-app-6f06f</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-6f06f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139701247462:ios:2a13470b52d2bacf50ca27</string>
</dict>
</plist>